global
    log stdout format raw local0

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

# Uncomment the HTTP frontend if you need to redirect HTTP to HTTPS
# frontend http_redirect
#     bind *:80
#     mode http
#     redirect scheme https code 301 if !{ ssl_fc }

frontend https_front
    bind *:443 ssl crt /etc/ssl/private/
    mode http

    # Define ACLs for each host
    acl host_llm_chat hdr(host) -i llm-chat.ru
    acl host_openai   hdr(host) -i openai.llm-chat.ru
    acl host_gemini   hdr(host) -i gemini.llm-chat.ru
    acl host_xai      hdr(host) -i xai.llm-chat.ru

    # Send the request to the appropriate backend based on the ACL
    use_backend open-webui           if host_llm_chat
    use_backend openai-reverse-proxy if host_openai
    use_backend gemini-reverse-proxy if host_gemini
    use_backend xai-reverse-proxy    if host_xai

backend open-webui
    server local_server open-webui:8080

backend openai-reverse-proxy
    server local_server openai-api-reverse-proxy:28083

backend gemini-reverse-proxy
    server local_server gemini-api-reverse-proxy:28084

backend xai-reverse-proxy
    server local_server xai-api-reverse-proxy:28085